
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.book-btn {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
body {
  background-image: url(ushaaa.jpg);
   background-size: cover;
   
